<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }} de {{ usuario }}</h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
              {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo[0] }}</td>
                    <td>{{ jogo[1] }}</td>
                    <td>{{ jogo[2] }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('novo') }}"><input type="button" class="btn btn-primary btn-salvar" value="Add novo jogo"></a>
    <a href="{{ url_for('logout') }}"><input type="button" class="btn btn-primary btn-salvar" value="Logout"></a>
    <a href="{{ url_for('excluir_usuario', nome=usuario) }}" class="excluir"><input type="button" class="btn btn-primary btn-salvar" value="Excluir conta"></a>
    <a href="{{ url_for('gerar_relatorio') }}"><input type="button" class="btn btn-primary btn-salvar" value="Gerar Relatório Excel"></a>
</body>
</html>
