<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <label for="name">Nome:</label><br>
        <input type="text" id="fname" nome="fname"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="lname" name="lname"><br><br>
        <!-- <input type="submit" value="Enviar"> -->
        <a href="{{('inicio')}}"><input type="button" value="Enviar"></a>
      </form> 

      <a href="{{'cadastro'}}"><input type="button" value="Faça seu cadastro"></a>
</body>
</html>