<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
  <div class="container">
    <!-- código omitido -->

{% with messages = get_flashed_messages() %}
{% if messages %} 
    <ul id="messages" class="list-unstyled">
    {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<!-- código omitido -->
    <form action="/validalogin" method="POST">
      <fieldset>
        <label for="name">Nome:</label><br>
        <input type="text" id="fname" name="nome"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>
        <input type="submit" value="Enviar" class="btn btn-primary btn-salvar">
      </fieldset>
    </form> 
    <a href="{{ url_for('cadastrar') }}"><input type="button"  class="btn btn-primary btn-salvar"   value="Faça seu cadastro"></a>
  </div>   

   
</body>
</html>
